*{
    margin: 0;
    padding: 0;
}
.App {
    width: 1100px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

/*
.App input{
    width: 900px;
    height: 60px;
    outline: none;
    box-sizing: border-box;
    padding: 5px 10px;
    font-size: 28px;
    vertical-align: middle;
}
.App button{
    width: 200px;
    height: 60px;
    font-size: 28px;
    vertical-align: middle;
}
.App ul{
    margin-top: 20px;
    list-style: none;
}
.App ul li{
    line-height: 60px;
    border-bottom: 1px dashed #ccc;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-left: 3px solid #f67;
    cursor: pointer;
    padding: 0 10px;
    font-size: 28px;

}
.App ul li:hover{
    background-color: #eee;
}
*/